@model OnlineShop.Domain.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset style="margin: 30px 150px 10px 150px; background-color: #525879">
    <legend>Order</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ShipDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShipDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CustomerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />        
    </p>
    <div class="CmonLink">
    @Html.ActionLink("Back to List", "Orders")
</div>
}
