@model IEnumerable<OnlineShop.Domain.Customer>

@{
    ViewBag.Title = "MemberManage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="adminIndexListTable" style="margin:30px 0px 10px 100px;">
    <tr>
        <th>
            UserID
        </th>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
        <th>
            Address
        </th>
        <th>
            Cardit Card Number
        </th>
        <th>
            Delet User
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcNumber)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>
