@model IEnumerable<OnlineShop.Domain.Product>


@foreach (var P in Model)
{

    <li style="margin: 0px 5px 5px 5px;">
        @{ byte[] photo = P.ProductImage;
         string imageSrc = null;
         if (photo != null)
         {
             imageSrc = "data:image/png;base64," + Convert.ToBase64String(photo);

         }
        }<a href="@Url.Action("ProductDetails", new { id = P.ProductID })" title="@P.ProductName">
            <div class="slide-inner">
                @*<div class="image">

                            <img src="@imageSrc" height="10" alt="Employee Photo" />


                    </div>*@
                <div class="name">
                    @P.ProductName
                </div>
                <div class="price">
                    <span>TK.</span>@P.Price
                </div>
            </div>     <div class="clear"></div>
        </a>

    </li>

}

