@model OnlineShop.UI.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="LoginField">
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                <span style="margin-left:0px;">   @Html.PasswordFor(m => m.OldPassword)</span>
</li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                <span style="margin-left:17px;">    @Html.PasswordFor(m => m.NewPassword)</span>
</li>
            <li>
                @*@Html.LabelFor(m => m.ConfirmPassword)*@
                @Html.Label("Confirm New")
                <span style="margin-left:28px;">   @Html.PasswordFor(m => m.ConfirmPassword)</span>
</li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
