@model OnlineShop.UI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="LoginField">
        <legend>Log in Form</legend>
        <ol class="FormLoginRig">
            <li>
                @Html.LabelFor(m => m.UserName)
               <span style="margin-left:5px;"> @Html.TextBoxFor(m => m.UserName)</span>
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                <span style="margin-left:12px;">
                    @Html.PasswordFor(m => m.Password)</span>
                    @Html.ValidationMessageFor(m => m.Password)
</li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
    
        <input type="submit" value="Log in" />
        <p id="Col">
           @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    </fieldset>
    
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
