@model OnlineShop.UI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")   
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
